
<div class="pt-3">
    <div class="card border-success">
        <div class="card-body">  
            <div class="row">
                <div class="col-7">
                    <p>{{post.body}}</p>
                </div>   
                <div class="col-5">                    
                    <div class="row float-right">  
                        <div class="pr-1">
                            {% if post.active == True %}
                            <form name="inactive" id="inactive" method="post" action="{{ url_for('todolist.todo_active_inactive',todo_id=post.id, active='False') }}">
                                <input class="btn btn-outline-info btn-sm" type="submit" value="Archive">
                            </form>
                            {% else %}
                            <form name="inactive" id="inactive" method="post" action="{{ url_for('todolist.todo_active_inactive',todo_id=post.id, active='True') }}">
                                <input class="btn btn-outline-info btn-sm" type="submit" value="Unarchive">
                            </form>
                            {% endif %}
                        </div>                  
                        <div>
                            <form name="delete_todo" id="delete_todo" method="post" action="{{ url_for('todolist.delete_todo',todo_id=post.id) }}">
                                <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete">
                            </form>  
                        </div>                                             
                    </div>                    
                </div>   
            </div>                                   
            <div class="row">
                <div class="col">
                {% if post.date_todo %}
                  <span>{{moment(post.date_todo).format('LLLL')}}</span>
                {% endif  %}  
                </div>
                <div class="col">
                    {% for tag in post.tags %}
                    <span class="badge badge-info">{{tag.name}}</span>
                    {% endfor %}
                </div>
            </div>                                      
        </div>
      </div>
</div>