
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please Select File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" id="uploadtodoid" enctype="multipart/form-data" action="{{ url_for('todolist.import_todo') }}">
                {{ uploadform.hidden_tag() }}
                <div class="row">
                    <div class="col">
                      <div class="form-group">
                          {{ uploadform.file(class="form-control-file") }}  
                      </div>                     
                    </div>
                    <div class="col">
                      <div class="form-group float-right">
                        {{ uploadform.submit(class="btn btn-outline-primary btn-sm") }}
                      </div>     
                    </div>
                  </div>                   
            </form>
        </div>
        <div class="modal-footer">
          <a class="" href="{{url_for('todolist.download_template_import')}}">Download template import</a>
        </div>
        <!-- <div>
          <a class="" href="{{url_for('todolist.download_template_import')}}">Download template import</a>
        </div>         -->
      </div>
    </div>
  </div>