{% extends "header.html" %}

{% block content %}

{% if form %}
    <h1>Tags</h1>    
    <form method="post" id="tagid" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">  
            {{ form.name(class="form-control") }}          
        </div>
        <div class="form-group">
            <p>{{ form.submit(class="btn btn-secondary btn-sm") }}</p>
        </div>                  
    </form>
    {% endif %}
    {% for tag in tags %}
        {% include '_tag.html' %}
    {% endfor %}
{% endblock content %}